## Flight Price Prediction(EDA + Feature Engineering)

In [692]:
#importing basics libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [693]:
train_df=pd.read_excel('Data_Train.xlsx')
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [694]:
train_df.shape

(10683, 11)

In [695]:
test_df=pd.read_excel('Test_set.xlsx')
test_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [696]:
test_df.shape

(2671, 10)

In [697]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [698]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2671 entries, 0 to 2670
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          2671 non-null   object
 1   Date_of_Journey  2671 non-null   object
 2   Source           2671 non-null   object
 3   Destination      2671 non-null   object
 4   Route            2671 non-null   object
 5   Dep_Time         2671 non-null   object
 6   Arrival_Time     2671 non-null   object
 7   Duration         2671 non-null   object
 8   Total_Stops      2671 non-null   object
 9   Additional_Info  2671 non-null   object
dtypes: object(10)
memory usage: 208.8+ KB

In [699]:
train_df['Date_of_Journey'].str.split('/').str[0]

0        24
1         1
2         9
3        12
4        01
         ..
10678     9
10679    27
10680    27
10681    01
10682     9
Name: Date_of_Journey, Length: 10683, dtype: object

In [700]:
test_df["Date_of_Journey"].str.split('/').str[0]

0        6
1       12
2       21
3       21
4       24
        ..
2666     6
2667    27
2668     6
2669     6
2670    15
Name: Date_of_Journey, Length: 2671, dtype: object

In [701]:
##Fetaure Engineering Process
train_df['Date']=train_df['Date_of_Journey'].str.split('/').str[0]
train_df['Month']=train_df['Date_of_Journey'].str.split('/').str[1]
train_df['Year']=train_df['Date_of_Journey'].str.split('/').str[2]

In [702]:
test_df['Date']=test_df['Date_of_Journey'].str.split('/').str[0]
test_df['Month']=test_df['Date_of_Journey'].str.split('/').str[1]
test_df['Year']=test_df['Date_of_Journey'].str.split('/').str[2]

In [703]:
train_df.head(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,03,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,05,2019

In [704]:
test_df.head(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Date,Month,Year
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info,6,06,2019
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info,12,05,2019

In [705]:
train_df['Date']=train_df['Date'].astype(int)
train_df['Month']=train_df['Month'].astype(int)
train_df['Year']=train_df['Year'].astype(int)

In [706]:
test_df['Date']=test_df['Date'].astype(int)
test_df['Month']=test_df['Month'].astype(int)
test_df['Year']=test_df['Year'].astype(int)

In [707]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
 11  Date             10683 non-null  int32
 12  Month            10683 non-null  int32
 13  Year             10683 non-null  int32
dtypes: int32(3), int64(1), object(10)
memory usage: 1.0+ MB

In [708]:
train_df.drop('Date_of_Journey',axis=1,inplace=True)

In [709]:
train_df.head(10)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,6,2019
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5,2019
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1,3,2019
5,SpiceJet,Kolkata,Banglore,CCU → BLR,09:00,11:25,2h 25m,non-stop,No info,3873,24,6,2019
6,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,18:55,10:25 13 Mar,15h 30m,1 stop,In-flight meal not included,11087,12,3,2019
7,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,08:00,05:05 02 Mar,21h 5m,1 stop,No info,22270,1,3,2019
8,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,08:55,10:25 13 Mar,25h 30m,1 stop,In-flight meal not included,11087,12,3,2019
9,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,11:25,19:15,7h 50m,1 stop,No info,8625,27,5,2019

In [710]:
test_df.drop('Date_of_Journey',axis=1,inplace=True)

In [711]:
test_df.head(5)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Date,Month,Year
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info,6,6,2019
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info,12,5,2019
2,Jet Airways,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included,21,5,2019
3,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info,21,5,2019
4,Air Asia,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info,24,6,2019

In [712]:
train_df['Arrival_Time'].str.split(' ').str[0]

0        01:10
1        13:15
2        04:25
3        23:30
4        21:35
         ...
10678    22:25
10679    23:20
10680    11:20
10681    14:10
10682    19:15
Name: Arrival_Time, Length: 10683, dtype: object

In [713]:
train_df['Arrival_Time']=train_df['Arrival_Time'].apply(lambda x : x.split(' ')[0])

In [714]:
train_df['Arrival_hour']=train_df['Arrival_Time'].str.split(':').str[0]
train_df['Arrival_min']=train_df['Arrival_Time'].str.split(':').str[1]

In [715]:
test_df['Arrival_Time']=test_df['Arrival_Time'].apply(lambda x : x.split(' ')[0])

In [716]:
test_df['Arrival_hour']=test_df['Arrival_Time'].str.split(':').str[0]
test_df['Arrival_min']=test_df['Arrival_Time'].str.split(':').str[1]

In [717]:
train_df.head(1)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897,24,3,2019,01,10

In [718]:
train_df['Arrival_hour']=train_df['Arrival_hour'].astype(int)
train_df['Arrival_min']=train_df['Arrival_min'].astype(int)

In [719]:
test_df['Arrival_hour']=test_df['Arrival_hour'].astype(int)
test_df['Arrival_min']=test_df['Arrival_min'].astype(int)

In [720]:
train_df.drop('Arrival_Time',axis=1,inplace=True)

In [721]:
test_df.drop('Arrival_Time',axis=1,inplace=True)

In [722]:
train_df.head(5)

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897,24,3,2019,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,7h 25m,2 stops,No info,7662,1,5,2019,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,19h,2 stops,No info,13882,9,6,2019,4,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,5h 25m,1 stop,No info,6218,12,5,2019,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,4h 45m,1 stop,No info,13302,1,3,2019,21,35

In [723]:
train_df['Dept_hour']=train_df['Dep_Time'].str.split(':').str[0]
train_df['Dept_min']=train_df['Dep_Time'].str.split(':').str[1]
train_df['Dept_hour']=train_df['Dept_hour'].astype(int)
train_df['Dept_min']=train_df['Dept_min'].astype(int)
train_df.drop('Dep_Time',axis=1,inplace=True)

In [724]:
test_df['Dept_hour']=test_df['Dep_Time'].str.split(':').str[0]
test_df['Dept_min']=test_df['Dep_Time'].str.split(':').str[1]
test_df['Dept_hour']=test_df['Dept_hour'].astype(int)
test_df['Dept_min']=test_df['Dept_min'].astype(int)
test_df.drop('Dep_Time',axis=1,inplace=True)

In [725]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Duration         10683 non-null  object
 5   Total_Stops      10682 non-null  object
 6   Additional_Info  10683 non-null  object
 7   Price            10683 non-null  int64
 8   Date             10683 non-null  int32
 9   Month            10683 non-null  int32
 10  Year             10683 non-null  int32
 11  Arrival_hour     10683 non-null  int32
 12  Arrival_min      10683 non-null  int32
 13  Dept_hour        10683 non-null  int32
 14  Dept_min         10683 non-null  int32
dtypes: int32(7), int64(1), object(7)
memory usage: 959.9+ KB

In [726]:
train_df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [729]:
train_df[train_df['Total_Stops'].isnull()]

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dept_hour,Dept_min
9039,Air India,Delhi,Cochin,NaN,23h 40m,NaN,No info,7480,6,5,2019,9,25,9,45

In [730]:
train_df.drop('Route',axis=1,inplace=True)

In [731]:
test_df.drop('Route',axis=1,inplace=True)

In [732]:
train_df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dept_hour,Dept_min
0,IndiGo,Banglore,New Delhi,2h 50m,non-stop,No info,3897,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,7h 25m,2 stops,No info,7662,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,19h,2 stops,No info,13882,9,6,2019,4,25,9,25
3,IndiGo,Kolkata,Banglore,5h 25m,1 stop,No info,6218,12,5,2019,23,30,18,5
4,IndiGo,Banglore,New Delhi,4h 45m,1 stop,No info,13302,1,3,2019,21,35,16,50

In [733]:
train_df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [734]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Duration         10683 non-null  object
 4   Total_Stops      10682 non-null  object
 5   Additional_Info  10683 non-null  object
 6   Price            10683 non-null  int64
 7   Date             10683 non-null  int32
 8   Month            10683 non-null  int32
 9   Year             10683 non-null  int32
 10  Arrival_hour     10683 non-null  int32
 11  Arrival_min      10683 non-null  int32
 12  Dept_hour        10683 non-null  int32
 13  Dept_min         10683 non-null  int32
dtypes: int32(7), int64(1), object(6)
memory usage: 876.5+ KB

In [735]:
train_df['duration_hour']=train_df['Duration'].str.split(' ').str[0].str.split('h').str[0]

In [736]:
train_df[train_df['duration_hour']=='5m']

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dept_hour,Dept_min,duration_hour
6474,Air India,Mumbai,Hyderabad,5m,2 stops,No info,17327,6,3,2019,16,55,16,50,5m

In [737]:
train_df.drop(6474,axis=0,inplace=True)
test_df.drop(2660,axis=0,inplace=True)

In [738]:
train_df['duration_hour']=train_df['duration_hour'].astype('int')

In [739]:
train_df.drop('Duration',axis=1,inplace=True)

In [740]:
test_df['duration_hour']=test_df['Duration'].str.split(' ').str[0].str.split('h').str[0]

In [741]:
test_df[test_df['duration_hour']=='5m']

Empty DataFrame
Columns: [Airline, Source, Destination, Duration, Total_Stops, Additional_Info, Date, Month, Year, Arrival_hour, Arrival_min, Dept_hour, Dept_min, duration_hour]
Index: []

In [742]:
test_df['duration_hour']=test_df['duration_hour'].astype('int')

In [743]:
test_df.drop('Duration',axis=1,inplace=True)

In [744]:
train_df.head(1)

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dept_hour,Dept_min,duration_hour
0,IndiGo,Banglore,New Delhi,non-stop,No info,3897,24,3,2019,1,10,22,20,2

In [745]:
train_df['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [746]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()

In [747]:
train_df['Total_Stops']=labelencoder.fit_transform(train_df['Total_Stops'])
train_df['Airline']=labelencoder.fit_transform(train_df['Airline'])
train_df['Source']=labelencoder.fit_transform(train_df['Source'])
train_df['Destination']=labelencoder.fit_transform(train_df['Destination'])
train_df['Additional_Info']=labelencoder.fit_transform(train_df['Additional_Info'])

In [748]:
test_df['Total_Stops']=labelencoder.fit_transform(test_df['Total_Stops'])
test_df['Airline']=labelencoder.fit_transform(test_df['Airline'])
test_df['Source']=labelencoder.fit_transform(test_df['Source'])
test_df['Destination']=labelencoder.fit_transform(test_df['Destination'])
test_df['Additional_Info']=labelencoder.fit_transform(test_df['Additional_Info'])

In [749]:
train_df.head(2)

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dept_hour,Dept_min,duration_hour
0,3,0,5,4,8,3897,24,3,2019,1,10,22,20,2
1,1,3,0,1,8,7662,1,5,2019,13,15,5,50,7

In [750]:
y = train_df['Price']

In [751]:
y.head()

0     3897
1     7662
2    13882
3     6218
4    13302
Name: Price, dtype: int64

In [752]:
x = train_df.drop(labels=['Price'],axis = 1)

In [753]:
x.head()

,Airline,Source,Destination,Total_Stops,Additional_Info,Date,Month,Year,Arrival_hour,Arrival_min,Dept_hour,Dept_min,duration_hour
0,3,0,5,4,8,24,3,2019,1,10,22,20,2
1,1,3,0,1,8,1,5,2019,13,15,5,50,7
2,4,2,1,1,8,9,6,2019,4,25,9,25,19
3,3,3,0,0,8,12,5,2019,23,30,18,5,5
4,3,0,5,0,8,1,3,2019,21,35,16,50,4

In [754]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10682 entries, 0 to 10682
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  int32
 1   Source           10682 non-null  int32
 2   Destination      10682 non-null  int32
 3   Total_Stops      10682 non-null  int32
 4   Additional_Info  10682 non-null  int32
 5   Date             10682 non-null  int32
 6   Month            10682 non-null  int32
 7   Year             10682 non-null  int32
 8   Arrival_hour     10682 non-null  int32
 9   Arrival_min      10682 non-null  int32
 10  Dept_hour        10682 non-null  int32
 11  Dept_min         10682 non-null  int32
 12  duration_hour    10682 non-null  int32
dtypes: int32(13)
memory usage: 625.9 KB

In [755]:
from sklearn.model_selection import train_test_split

In [756]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 20)

In [757]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [758]:
lr = LogisticRegression()
dtr = DecisionTreeRegressor()
rfr = RandomForestRegressor()

In [762]:
from sklearn.metrics import r2_score

In [772]:
rfr.fit(x_train,y_train)

lr.fit(x_train,y_train)

dtr.fit(x_train,y_train)

C:\Users\pavan\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

DecisionTreeRegressor()

In [773]:
rfr_pred = rfr.predict(x_test)

lr_pred = lr.predict(x_test)

dtr_pred = dtr.predict(x_test)

In [776]:
print('RandomForestRegressor',r2_score(y_test,rfr_pred))

print('LogisticRegression',r2_score(y_test,lr_pred))

print('DecisionTreeRegressor',r2_score(y_test,dtr_pred))

RandomForestRegressor 0.8545872453505268
LogisticRegression -0.19949697404286093
DecisionTreeRegressor 0.8086992672869152

In [770]:
rfr_pred_df = rfr.predict(test_df)

In [771]:
rfr_pred_df

array([10262.  ,  5257.52, 22601.68, ..., 13440.79, 14390.97,  7300.51])